<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="icon" type="jpg" href="IMG/icono_tutoria.png">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Solicitar Tutoría</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <style>
        header{
            background: white;
        }
    </style> 
    <!--<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css"> -->
    <link href="estilos.css" rel="stylesheet" />
</head>
<body bgcolor="white">                     
    <header class="header"> 
    <div class="container">
        <nav class="menu">
            <ul class ="nav">
                <li> <a href="./Inicio.html"> Salir </a> </li>
                <li> <a href="./calendarioestudiante.html"> Calendario </a> </li>
                <li> <a href="./perfilestudiante.html"> Perfil </a> </li>
                <li> <a href="/solicitar_tutoria"> Solicitar Turoría </a> </li>
                 <li> <a href="./principalestudiante.html"> Inicio </a> </li>
             </ul>
        </nav>
        <figure class="logo">
            <img  width='200'src="IMG/logo_uleam_B.png" alt="Tutorships"/>          
        </figure>   
       </div>
    </header>