<%- include ('partials/_header2'); %>
<div class="container1">
    <main class="content">
      <form  action="/add" method="post">  
        <div class="form">                            
            <h1>Formulario de solicitud de Tutoría</h1>    <br>       
            <div class="grupo">                
                <label for=""> Asignatura</label>
                <input type="text" name="asignatura" placeholder="Asignatura" class="form-control">
            </div>
            <div class="grupo">
                <label for=""> Curso</label>
                <input type="text" name="curso" placeholder="Curso" class="form-control">
            </div>
            <div class="grupo">                
                <label for=""> Nombre del docente</label>
                <input type="text" name="nombre_docente" placeholder="Nombre del docente" class="form-control">
            </div>
            <div class="grupo">                
                <label for=""> Motivo</label>
                <input type="text" name="motivo" placeholder="Motivo de la tutoría" class="form-control">
             <br>
             <button type="submit" class="btn btn-primary"> Solicitar Tutoria </button>
            
        </div>                                                
    </form>
            <script src="validarsoli.js"></script>     
        </main>       
      </div>
    </div>
      <footer class="footer"> 
        <p class="text2">Aplicaciones Web I </p>
        <p class="text2">Trabajo Grupal @2021</p>
      </footer>
    </body>
  </html>